SVM/.venv
SVM/Datasets/Readme.txt
SVM/report/main.aux
SVM/report/main.bbl
SVM/report/main.blg
SVM/report/main.fdb_latexmk
SVM/report/main.fls
SVM/report/main.log
SVM/report/main.out
SVM/report/main.run.xml
SVM/report/main.synctex.gz
